/**
 * Created with JetBrains WebStorm.
 * User: wkylin(jingang.wang@baozun.cn)
 * Date: 12-5-22
 * Time: 上午10:30
 * To change this template use File | Settings | File Templates.
 */

 /* RGBA */
.color-block {
    background:transparent;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000050,endColorstr=#99000050);
    zoom: 1;
}

