

.ui-paging-first, .ui-paging-prev, .ui-paging-next, .ui-paging-last,
.ui-paging-item, .ui-paging-item span,
a.ui-paging-item, a.ui-paging-item span, .ui-paging-ellipsis,
.ui-paging-goto, .ui-paging-goto span, a.ui-paging-goto, a.ui-paging-goto span, .ui-paging-which, .ui-paging-which input {
    float: left;
    background: transparent url('../images/ui-paging.png') no-repeat 0 0;
}

.ui-paging {
    margin: 10px auto 30px;
    width: 510px;
    height: 25px;
}

.ui-paging, .ui-paging input {
    color: #4d4d4d;
}

.ui-paging a {
    margin: 0 10px 0 0;
    color: #4d4d4d;
}

.ui-paging a, .ui-paging a:hover {
    text-decoration: none;
}

.ui-page-item, a.ui-paging-item {
    padding: 0 0 0 10px;
    height: 25px;
    background-position: 0 -50px;
    text-decoration: none;
    font-weight: 700;
    line-height: 25px;
}

.ui-page-item span, a.ui-paging-item span {
    padding: 0 10px 0 0;
    background-position: right -50px;
    cursor: pointer;
}

.ui-paging-hover, a.ui-paging-item:hover {
    padding: 0 0 0 10px;
    height: 25px;
    background-position: 0 -76px;
    text-decoration: none;
    font-weight: 700;
    line-height: 25px;
}

.ui-paging-hover, a.ui-paging-item:hover span {
    padding: 0 10px 0 0;
    background-position: right -76px;
    cursor: pointer;
}

.ui-paging-current, a.ui-paging-current, a.ui-paging-current:hover {
    background-position: 0 -76px;
    color: #fff;
}

.ui-paging-current span, a.ui-paging-current span, a.ui-paging-current:hover span {
    background-position: right -76px;
    color: #fff;
}

.ui-paging-first, a.ui-paging-first,
.ui-paging-prev, a.ui-paging-prev {
    overflow: hidden;
    margin-right: 10px;
    padding: 0 0 0 18px;
    width: 52px;
    height: 25px;
    line-height: 25px;
}

.ui-paging-first-hover, a.ui-paging-first:hover,
.ui-paging-prev-hover, a.ui-paging-prev:hover {
    background-position: 0 0px;
    text-decoration: none;
}

.ui-paging-last, a.ui-paging-last,
.ui-paging-next, a.ui-paging-next {
    margin: 0 8px 0 3px;
    padding: 0 0 0 15px;
    width: 60px;
    height: 25px;
    background-position: -69px 0;
    line-height: 25px;
}

.ui-paging-last-hover, a.ui-paging-last:hover,
.ui-paging-next-hover, a.ui-paging-next:hover {
    margin: 0 8px 0 3px;
    padding: 0 0 0 15px;
    width: 62px;
    height: 25px;
    background-position: -69px 0;
    line-height: 25px;
}

span.ui-paging-first, span.ui-paging-prev, span.ui-paging-next, span.ui-paging-last {
    color: #ccc;
}

span.ui-paging-first, span.ui-paging-prev {
    background-position: 0 -25px;
}

span.ui-paging-next, span.ui-paging-last {
    background-position: -69px -25px;
}

.ui-paging-info {
    display: inline;
    float: left;
    overflow: hidden;
    margin: 0 6px 0 5px;
    height: 25px;
    line-height: 25px;
}

.ui-paging-ellipsis {
    overflow: hidden;
    margin: 0 0 0 0;
    width: 28px;
    height: 25px;
    background-position: 0 -101px;
    text-indent: -10em;
}

.ui-paging-goto, a.ui-paging-goto {
    padding: 0 0 0 12px;
    background-position: 0 -72px;
}

.ui-paging-goto span, a.ui-paging-goto span {
    padding: 0 11px 0 0;
    background-position: right -72px;
    cursor: pointer;
}

.ui-paging-goto-hover, .ui-paging-goto:hover {
    background-position: 0 -96px;
}

.ui-paging-goto-hover span, .ui-paging-goto:hover span {
    background-position: right -96px;
}

.ui-paging-which {
    padding: 0 0 0 5px;
    background-position: 0 -168px;
}

.ui-paging-which input {
    overflow: hidden;
    padding: 0 6px;
    width: 20px;
    height: 24px;
    border: none;
    background-position: right -168px;
    font-weight: 700;
    line-height: 24px;
}

.ui-paging-bold {
    padding: 0 8px 0 7px;
    font-weight: 700;
}

.ui-paging-first, a.ui-paging-first, .ui-paging-prev, a.ui-paging-prev, .ui-paging-next, a.ui-paging-next, .ui-paging-last, a.ui-paging-last {
    _line-height: 24px;
    line-height: 28 px\9;
    *line-height: 28px;
}


