/**
 * @author:wkylin [wkylin@github.com]
 * @name: ui-table
 * @overview: ui-table
 * @require: null
 */
.ui-table {width:100%;}
.ui-table th,td{
    padding: 8px 10px;
    vertical-align: top;
}
.ui-table .border-left{
    border-left:1px dotted #e8e8e8;
}
.ui-table th{
    color:#333;
    background-color:#f2f3f6;
    border-right:1px dotted #e8e8e8;
    text-align: center;
}
.ui-table td{
    color:#666;
}
.ui-table thead tr{
    border-top:2px solid #e1e1e1;
    border-bottom: 1px solid #e7e8e9;
}
.ui-table tbody tr{
    border-top:1px solid #e7e8e9;
    border-bottom: 1px solid #e7e8e9;
}
.ui-table tfoot th{
    background-color:#fff;
    border:none;
}
.ui-table tfoot tr{
    border:none;
}
.fn-mailto{
    display:block;
    padding:5px;
    text-align: center;
    border:1px solid #666666;
    background-color:#666666 ;
    border-radius: 3px;
    color:#ebebeb;
    text-shadow: 2px 2px 1px #333;
    font-size:14px;
    width: 90px;
}
.fn-mailto:hover{
    color:#ebebeb;
    text-decoration: none;
}